.contact-head {
 font-family: "Playfair Display", serif;
}
.contactPage-container {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
.contact-form-page {
 display: flex;
 flex-direction: column;
 align-content: space-around;
 align-items: center;
 margin-top: 5%;
 margin-bottom: 5%;
}
.label-page {
 text-align: left;
 font-family: "Playfair Display", serif;
}

.input-page,
.text-area-page {
 border: 1px solid black;
 width: 50%;
 align-content: center;
}

.submit-button-page {
 width: 25%;
}

@media (max-width: 765px) {
 .contactPage-container {
  margin-top: 20vmin;
 }
}
