.contact-form {
 display: flex;
 flex-direction: column;
}
.label {
 font-family: "Open Sans", sans-serif;
 text-align: left;
}
input,
textarea {
 margin: 1%;
 border: none;
 border-radius: 6px;
}
.submit-button {
 background-color: rgb(38, 144, 171);
 border: none;
 border-radius: 1pc;
 height: 15%;
 width: 80%;
 font-size: 1pc;
 font-family: "Playfair Display", serif;
 font-weight: 700;
 margin: 1pc;
 margin-left: 0px;
}

@media (max-width: 765px) {
 .submit-button {
  margin: 1pc;
  margin-left: 2pc;
 }
}
